<?xml version="1.0" ?>
<model>
  <name>icuas26_1</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Your Name</name>
    <email>your.email@example.com</email>
  </author>
  <description>
    Model world 1 for ICUAS'26 UAV Competition.
  </description>
</model>
